<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/navbar" />
	<div class="super-wrapper">
		<div class="clean-wrapper">
			<div style="text-align: center">
				<h2>InciDashBoard</h2>


				<div sec:authorize="isAuthenticated()">
					<p>Bienvenido</p>
					<p>Usuario Autenticado como : <span
							th:text="${email}" th:inline="text">
				</span></p>
					</ul>

				</div>


			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>