<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h1>Incidencia</h1>
		<p>
			Nombre de la incidencia: <i th:text="${incidencia.incidenceName}"></i>
		</p>
		<p>
			Descripcion: <i th:text="${incidencia.description}"></i>
		</p>
		<p>
			Localizacion: <i th:text="${incidencia.location}"></i>
		</p>
		
		
   		 <div id="map"></div>
   		 
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		function initMap() {
			
			var cadena=[[${incidencia.location}]].split(",");
			var latitud=cadena[0];
			var longitud=cadena[1];
					
			var location = new google.maps.LatLng(latitud, longitud);
			var mapCanvas = document.getElementById("map");
			var mapOptions = {
				center : location				
			};
			
			var marcador = new google.maps.Marker({
			    position: location,
			    title:[[${incidencia.incidenceName}]]
			});
			
			
			var map = new google.maps.Map(mapCanvas, mapOptions);
			
			marcador.setMap(map); 
        
        
      }

     
		/*]]>*/
	</script>

		
  		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRXGSkiOeVhjBkV0XKN5pSC8KVzbUhfQo&callback=initMap">
   		 </script>
	</div>
</body>
</html>