<!DOCTYPE html>
<html lang="es">
<head th:include="fragments/head">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body >
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h1>Incidencia</h1>
		<ul>
		<li>
			Nombre de la incidencia: <i th:text="${incidencia.incidenceName}"></i>
		</li>
		<li>
			Descripcion: <i th:text="${incidencia.description}"></i>
		</li>
		<li>
			Localizacion: <i th:text="${incidencia.location}"></i>
		</li>
		</ul>
		
		<div id="map" style="width: 400px; height: 400px;"></div>

		
		 <script th:inline="javascript" >
    /*<![CDATA[*/
			"use strict";
			
			var mapa;
    function iniciar(){
        navigator.geolocation.getCurrentPosition(mostrar,errores);
    }
    function mostrar(posicion){
    	var cadena=[[${incidencia.location}]].split(",");
		var latitud=parseFloat(cadena[0]);
		var longitud=parseFloat(cadena[1]);
        var ubicacion=new google.maps.LatLng(latitud, longitud);
        var mapaOpciones ={
            zoom:15,
            center: ubicacion,
            mapTypeId:  google.maps.MapTypeId.TERRAIN
        };
    
        mapa= new google.maps.Map(document.getElementById('map'), mapaOpciones);
        var marcador = new google.maps.Marker({
            position: ubicacion,
            map:mapa
        });
        marcador.setMap(mapa);
    }
    function errores(error){
        alert('Error: '+error.code+' '+error.message);
    }
    iniciar();
     
		/*]]>*/
	</script >
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRXGSkiOeVhjBkV0XKN5pSC8KVzbUhfQo">
        </script>
	</div>
</body>

</html>